<ul class="accordiann">

    <li>
        <input type="radio" name="accordian" id="first">
        <label for="first">Dashboard {{{hi}}} </label>
        <div class="content">
            <div class="contentlist" ><a href="">Users</a></div>
            <div class="contentlist"><a href="./organization">Organizations</a></div>
            <div class="contentlist"><a href="">Unapproved Outlets</a></div>
            <div class="contentlist"><a href="">Outlet density Map</a></div>
            <div class="contentlist"><a href="">Update User Targets</a></div>
            <div class="contentlist"><a href="">Set Outlet Targets</a></div>
            
        </div>
    </li>
    <li>
        <input type="radio" name="accordian" id="second">
        <label for="second">Insight(beta)</label>
        <div class="content">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa sed unde porro temporibus minus sit,
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa sed unde porro temporibus minus sit,
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa sed unde porro temporibus minus sit,
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa sed unde porro temporibus minus sit,
                suscipit iste quia a dicta illum nemo esse eveniet possimus facilis veniam placeat, perferendis cumque.
            </p>
        </div>
    </li>
    <li>
        <input type="radio" name="accordian" id="third">
        <label for="third">Inventory</label>
        <div class="content">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa sed unde porro temporibus minus sit,
                suscipit iste quia a dicta illum nemo esse eveniet possimus facilis veniam placeat, perferendis cumque.
            </p>
        </div>
    </li>
    <li>
        <input type="radio" name="accordian" id="four" checked="true">
        <label for="four">Products</label>
        <div class="content">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa sed unde porro temporibus minus sit,
                suscipit iste quia a dicta illum nemo esse eveniet possimus facilis veniam placeat, perferendis cumque.
            </p>
        </div>
    </li>
    <li>
        <input type="radio" name="accordian" id="five">
        <label for="five">Reports</label>
        <div class="content">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa sed unde porro temporibus minus sit,
                suscipit iste quia a dicta illum nemo esse eveniet possimus facilis veniam placeat, perferendis cumque.
            </p>
        </div>
    </li>
    <li>
        <input type="radio" name="accordian" id="six">
        <label for="six">Custom Reports</label>
        <div class="content">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa sed unde porro temporibus minus sit,
                suscipit iste quia a dicta illum nemo esse eveniet possimus facilis veniam placeat, perferendis cumque.
            </p>
        </div>
    </li>
    <li>
        <input type="radio" name="accordian" id="seven">
        <label for="seven">Discounts</label>
        <div class="content">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa sed unde porro temporibus minus sit,
                suscipit iste quia a dicta illum nemo esse eveniet possimus facilis veniam placeat, perferendis cumque.
            </p>
        </div>
    </li>
    <li>
        <input type="radio" name="accordian" id="eight">
        <label for="eight">Send Notifications</label>
        <div class="content">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa sed unde porro temporibus minus sit,
                suscipit iste quia a dicta illum nemo esse eveniet possimus facilis veniam placeat, perferendis cumque.
            </p>
        </div>
    </li>
    <li>
        <input type="radio" name="accordian" id="nine">
        <label for="nine">List Payments</label>
        <div class="content">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa sed unde porro temporibus minus sit,
                suscipit iste quia a dicta illum nemo esse eveniet possimus facilis veniam placeat, perferendis cumque.
            </p>
        </div>
    </li>
    <li>
        <input type="radio" name="accordian" id="ten">
        <label for="ten">MDM</label>
        <div class="content">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa sed unde porro temporibus minus sit,
                suscipit iste quia a dicta illum nemo esse eveniet possimus facilis veniam placeat, perferendis cumque.
            </p>
        </div>
    </li>
</ul>