<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title>Create Admin</title>
  <link rel="stylesheet" href="../../../../css/create_admin.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="container">
    <div class="title">Create Admin</div>
    <div class="content">
      <form action="./admin" method="post">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Full Name</span>
            <input name="fullname" type="text" placeholder="Enter your name" required="true">
          </div>
          <div class="input-box">
            <span class="details">Username</span>
            <input name="username" type="text" placeholder="Enter your username" required="true">
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input name="email" type="text" placeholder="Enter your email" required="true">
          </div>

          <div class="input-box">
            <span class="details">Password</span>
            <input name="password" type="text" placeholder="Enter your password" required="true">
          </div>
          <div class="input-box">
            <span class="details">Confirm Password</span>
            <input name="cpassword" type="text" placeholder="Confirm your password" required="true">
          </div>
        </div>
        <div class="radiodiv-details">
          <input type="radio" name="male" id="dot-1">
          <input type="radio" name="female" id="dot-2">
          <input type="radio" name="prefnot" id="dot-3">
          <span class="radiodiv-title">Gender</span>
          <div class="category">
            <label for="dot-1">
              <span class="dot one"></span>
              <span class="radiodiv">Male</span>
            </label>
            <label for="dot-2">
              <span class="dot two"></span>
              <span class="radiodiv">Female</span>
            </label>
            <label for="dot-3">
              <span class="dot three"></span>
              <span class="radiodiv">Prefer not to say</span>
            </label>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>
    </div>


  </div>


</body>

</html>