<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title>Create Admin</title>
  <link rel="stylesheet" href="../../../../css/create_admin.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  {{!-- <div class="container">
    <div class="title">Create Admin</div>
    <div class="content">
      <form action="./admin" method="post">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Full Name</span>
            <input name="fullname" type="text" placeholder="Enter your name" required="true">
          </div>
          <div class="input-box">
            <span class="details">Username</span>
            <input name="username" type="text" placeholder="Enter your username" required="true">
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input name="email" type="text" placeholder="Enter your email" required="true">
          </div>

          <div class="input-box">
            <span class="details">Password</span>
            <input name="password" type="text" placeholder="Enter your password" required="true">
          </div>
          <div class="input-box">
            <span class="details">Confirm Password</span>
            <input name="cpassword" type="text" placeholder="Confirm your password" required="true">
          </div>
        </div>
        <div class="radiodiv-details">
          <input type="radio" name="male" id="dot-1">
          <input type="radio" name="female" id="dot-2">
          <input type="radio" name="prefnot" id="dot-3">
          <span class="radiodiv-title">radiodiv</span>
          <div class="category">
            <label for="dot-1">
              <span class="dot one"></span>
              <span class="radiodiv">Male</span>
            </label>
            <label for="dot-2">
              <span class="dot two"></span>
              <span class="radiodiv">Female</span>
            </label>
            <label for="dot-3">
              <span class="dot three"></span>
              <span class="radiodiv">Prefer not to say</span>
            </label>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>
    </div>


  </div> --}}

  <div class="container">
    <div class="content">
      <form action="./admin" method="post">

        <div class="radiodiv-details">
          <input type="radio" name="sale" id="dot-1">
          <input type="radio" name="collections" id="dot-2">
          <input type="radio" name="activity" id="dot-3">
          <input type="radio" name="pop" id="dot-4">
          <input type="radio" name="bid" id="dot-5">
          <input type="radio" name="outletEFSCH" id="dot-6">
          <input type="radio" name="assettrack" id="dot-7">
          <input type="radio" name="assetorder" id="dot-8">
          <input type="radio" name="addtask" id="dot-9">
          <input type="radio" name="order" id="dot-10">
          <input type="radio" name="printreciept" id="dot-11">
          <input type="radio" name="attendence" id="dot-12">
          <input type="radio" name="claims" id="dot-13">
          <input type="radio" name="activitypicture" id="dot-14">
          <input type="radio" name="emailretailer" id="dot-15">
          <input type="radio" name="orderFullfill" id="dot-16">
          <input type="radio" name="existingassets" id="dot-17">
          <input type="radio" name="emailpacreport" id="dot-18">
          <input type="radio" name="salereturn" id="dot-19">
          <input type="radio" name="captureads" id="dot-20">
          <input type="radio" name="attendenceimage" id="dot-21">
          <input type="radio" name="genericform" id="dot-22">
          <input type="radio" name="activitycomments" id="dot-23">
          <input type="radio" name="leadmgmtsys" id="dot-24">
          <input type="radio" name="editoutlet" id="dot-25">
          <input type="radio" name="reqfordiscount" id="dot-26">
          <input type="radio" name="stockatoutlet" id="dot-27">
          <input type="radio" name="addoutlet" id="dot-28">
          <input type="radio" name="collateral" id="dot-29">
          <input type="radio" name="showoutletageing" id="dot-30">
          <input type="radio" name="activityform" id="dot-31">
          <input type="radio" name="readgeoloc" id="dot-32">
          <input type="radio" name="tasks" id="dot-33">
          <input type="radio" name="assetaudit" id="dot-34">
          <input type="radio" name="shownearestoutlet" id="dot-35">
          <input type="radio" name="printertype" id="dot-36">
          <input type="radio" name="editoutletloc" id="dot-37">
          <input type="radio" name="enrollwtarget" id="dot-38">
          <input type="radio" name="stocktransfer" id="dot-39">
          <input type="radio" name="taskapprover" id="dot-40">
          <input type="radio" name="assetderegister" id="dot-41">
          <input type="radio" name="primaryorder" id="dot-42">
          <input type="radio" name="entersliceprice" id="dot-43">
          <input type="radio" name="sampling" id="dot-44">
          <input type="radio" name="primaryactivityform" id="dot-45">
          <input type="radio" name="createeditevent" id="dot-46">
          <input type="radio" name="assetapprover" id="dot-47">
          <input type="radio" name="primarysalereturn" id="dot-48">
          <input type="radio" name="edituserlocvis" id="dot-49">
          <input type="radio" name="edituserinfo" id="dot-50">
          <input type="radio" name="reporteeview" id="dot-51">
          <input type="radio" name="secondarygm" id="dot-52">
          <input type="radio" name="vansalewithorder" id="dot-53">
          <input type="radio" name="primarycollection" id="dot-54">
          <input type="radio" name="txninsinglescreen" id="dot-55">
          <input type="radio" name="beatplanning" id="dot-56">
          <input type="radio" name="trainer" id="dot-57">
          <input type="radio" name="claimauditor" id="dot-58">
          <span class="radiodiv-title">Workflow</span>
          <div class="category">
            <div class="sv">
              <label for="dot-1">
                <span class="dot one"></span>
                <span class="radiodiv">Sale</span>
              </label>
            </div>
            <div class="sv">
              <label for="dot-2">
                <span class="dot two"></span>
                <span class="radiodiv">Collection</span>
              </label>
            </div>
            <div class="sv">
              <label for="dot-3">
                <span class="dot three"></span>
                <span class="radiodiv">Activity</span>
              </label>
            </div>
            <div class="sv">
              <label for="dot-4">
                <span class="dot four"></span>
                <span class="radiodiv">pop</span>
              </label>
            </div>




          </div>
          <div class="category">
            <div class="sv">
              <label for="dot-5">
                <span class="dot five"></span>
                <span class="radiodiv">bid</span>
              </label>
            </div>
            <div class="sv">
              <label for="dot-6">
                <span class="dot six"></span>
                <span class="radiodiv"> Outlet enrollment for sch</span>
              </label>
            </div>
            <div class="sv">
              <label for="dot-7">
                <span class="dot seven"></span>
                <span class="radiodiv">Asset track</span>
              </label>
            </div>
            <div class="sv">
              <label for="dot-8">
                <span class="dot eight"></span>
                <span class="radiodiv">Asset Order</span>
              </label>
            </div>




          </div>
          <div class="category">
            <div class="sv">
              <label for="dot-9">
                <span class="dot nine"></span>
                <span class="radiodiv">Add task</span>
              </label>
            </div>
            <div class="sv">
              <label for="dot-10">
                <span class="dot ten"></span>
                <span class="radiodiv">Order</span>
              </label>
            </div>
            <div class="sv">
              <label for="dot-11">
                <span class="dot eleven"></span>
                <span class="radiodiv">print reciept</span>
              </label>
            </div>
            <div class="sv">
              <label for="dot-12">
                <span class="dot twelve"></span>
                <span class="radiodiv">attendence</span>
              </label>
            </div>

          </div>
          <div class="category">
            <div class="sv">
              <label for="dot-13">
                <span class="dot thirteen"></span>
                <span class="radiodiv">Claims</span>
              </label>
            </div>
            <div class="sv">
              <label for="dot-14">
                <span class="dot fourteen"></span>
                <span class="radiodiv">Activity picture</span>
              </label>
            </div>
            <div class="sv">
              <label for="dot-15">
                <span class="dot fifteen"></span>
                <span class="radiodiv">email to retailer</span>
              </label>
            </div>
            <div class="sv">

              <label for="dot-16">
                <span class="dot sixteen"></span>
                <span class="radiodiv">prder fullfill</span>
              </label>
            </div>


          </div>
          <div class="category">
            <div class="sv">
              <label for="dot-17">
                <span class="dot seventeen"></span>
                <span class="radiodiv">Existing assets</span>
              </label>
            </div>
            <div class="sv">
              <label for="dot-18">
                <span class="dot eightteen"></span>
                <span class="radiodiv">Email pac report</span>
              </label>
            </div>
            <div class="sv">
              <label for="dot-19">
                <span class="dot nineteen"></span>
                <span class="radiodiv">Salesreturn</span>
              </label>
            </div>
            <div class="sv">
              <label for="dot-20">
                <span class="dot twenty"></span>
                <span class="radiodiv">Capture ads</span>
              </label>
            </div>




          </div>
          <div class="category">
            <div class="sv">
              <label for="dot-21">
                <span class="dot twentyone"></span>
                <span class="radiodiv">Attendence Image</span>
              </label>
            </div>
            <div class="sv">
              <label for="dot-22">
                <span class="dot twentytwo"></span>
                <span class="radiodiv">Generic form</span>
              </label>
            </div>
            <div class="sv">
              <label for="dot-23">
                <span class="dot twentythree"></span>
                <span class="radiodiv">Activity comments</span>
              </label>
            </div>
            <div class="sv">
              <label for="dot-24">
                <span class="dot twentyfour"></span>
                <span class="radiodiv">Lead management system</span>
              </label>
            </div>




          </div>
          <div class="category">
            <div class="sv">
              <label for="dot-25">
                <span class="dot twentyfive"></span>
                <span class="radiodiv">Edit outlet</span>
              </label>
            </div>
            <div class="sv">
              <label for="dot-26">
                <span class="dot twentysix"></span>
                <span class="radiodiv">Request for discount</span>
              </label>
            </div>
            <div class="sv">
              <label for="dot-27">
                <span class="dot twentyseven"></span>
                <span class="radiodiv">stock at outlet</span>
              </label>
            </div>
            <div class="sv">
              <label for="dot-28">
                <span class="dot twentyeight"></span>
                <span class="radiodiv">Add outlet</span>
              </label>
            </div>




          </div>
          <div class="category">
            <div class="sv">
              <label for="dot-29">
                <span class="dot twentynine"></span>
                <span class="radiodiv">Collateral</span>
              </label>
            </div>
            <div class="sv">
              <label for="dot-30">
                <span class="dot thirty"></span>
                <span class="radiodiv">Show outlet ageing</span>
              </label>
            </div>
            <div class="sv">
              <label for="dot-31">
                <span class="dot thirtyone"></span>
                <span class="radiodiv">Activity form</span>
              </label>
            </div>
            <div class="sv">
              <label for="dot-32">
                <span class="dot thirtytwo"></span>
                <span class="radiodiv">Read geolocation</span>
              </label>
            </div>




          </div>
          <div class="category">
            <div class="sv">
              <label for="dot-33">
                <span class="dot thirtythree"></span>
                <span class="radiodiv">Tasks</span>
              </label>
            </div>
            <div class="sv">
              <label for="dot-34">
                <span class="dot thirtyfour"></span>
                <span class="radiodiv">Asset Audit</span>
              </label>
            </div>
            <div class="sv">
              <label for="dot-35">
                <span class="dot thirtyfive"></span>
                <span class="radiodiv">Show nearest outlet</span>
              </label>
            </div>
            <div class="sv">
              <label for="dot-36">
                <span class="dot thirtysix"></span>
                <span class="radiodiv">Printer Type</span>
              </label>
            </div>



          </div>
          <div class="category">
            <div class="sv">
              <label for="dot-37">
                <span class="dot thirtyseven"></span>
                <span class="radiodiv">Edit outlet location</span>
              </label>
            </div>
            <div class="sv">
              <label for="dot-38">
                <span class="dot thirtyeight"></span>
                <span class="radiodiv">Enroll with target</span>
              </label>
            </div>
            <div class="sv">
              <label for="dot-39">
                <span class="dot thirtynine"></span>
                <span class="radiodiv">Stock transfer</span>
              </label>
            </div>
            <div class="sv">
              <label for="dot-40">
                <span class="dot fourty"></span>
                <span class="radiodiv">Taskapprover</span>
              </label>
            </div>




          </div>
          <div class="category">
            <div class="sv">
              <label for="dot-41">
                <span class="dot fourtyone"></span>
                <span class="radiodiv">Asset deregister</span>
              </label>
            </div>
            <div class="sv">
              <label for="dot-42">
                <span class="dot fourtytwo"></span>
                <span class="radiodiv">Primary order</span>
              </label>
            </div>
            <div class="sv">
              <label for="dot-43">
                <span class="dot fourtythree"></span>
                <span class="radiodiv">Enter slice price</span>
              </label>
            </div>
            <div class="sv">
              <label for="dot-44">
                <span class="dot fourtyfour"></span>
                <span class="radiodiv">Sampling</span>
              </label>
            </div>




          </div>
          <div class="category">
            <div class="sv">
              <label for="dot-45">
                <span class="dot fourtyfive"></span>
                <span class="radiodiv">Primary activity form</span>
              </label>
            </div>
            <div class="sv">
              <label for="dot-46">
                <span class="dot fourtysix"></span>
                <span class="radiodiv">Create/Edit event</span>
              </label>
            </div>
            <div class="sv">
              <label for="dot-47">
                <span class="dot fourtyseven"></span>
                <span class="radiodiv">Asset approver</span>
              </label>
            </div>
            <div class="sv">
              <label for="dot-48">
                <span class="dot fourtyeight"></span>
                <span class="radiodiv">Primary sales return</span>
              </label>
            </div>



          </div>
          <div class="category">
            <div class="sv">
              <label for="dot-49">
                <span class="dot fourtynine"></span>
                <span class="radiodiv">Edit user location visibility</span>
              </label>
            </div>
            <div class="sv">
              <label for="dot-50">
                <span class="dot fifty"></span>
                <span class="radiodiv">Edit user info</span>
              </label>
            </div>
            <div class="sv">
              <label for="dot-51">
                <span class="dot fiftyone"></span>
                <span class="radiodiv">Reportee view</span>
              </label>
            </div>
            <div class="sv">
              <label for="dot-52">
                <span class="dot fiftytwo"></span>
                <span class="radiodiv">Secondary Gm</span>
              </label>
            </div>




          </div>
          <div class="category">
            <div class="sv">
              <label for="dot-53">
                <span class="dot fiftythree"></span>
                <span class="radiodiv">Van sale with order</span>
              </label>
            </div>
            <div class="sv">
              <label for="dot-54">
                <span class="dot fiftyfour"></span>
                <span class="radiodiv">Primary Collection</span>
              </label>
            </div>
            <div class="sv">
              <label for="dot-55">
                <span class="dot fiftyfive"></span>
                <span class="radiodiv">Txns in single screen</span>
              </label>
            </div>
            <div class="sv">
              <label for="dot-56">
                <span class="dot fiftysix"></span>
                <span class="radiodiv">beat planning</span>
              </label>
            </div>


          </div>
          <div class="category">
            <div class="sv">
              <label for="dot-57">
                <span class="dot fiftyseven"></span>
                <span class="radiodiv">trainer</span>
              </label>
            </div>
            <div class="sv">
              <label for="dot-58">
                <span class="dot fiftyeight"></span>
                <span class="radiodiv">claim auditor</span>
              </label>
            </div>


          </div>

        </div>
        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>
    </div>
  </div>

</body>

</html>